.popular-products h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.products-preview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}


